/* Importing the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Resetting default margin, padding, and box model for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Setting default font to Poppins */
}

/* Defining color variables in :root (root element of the document) */
:root {
    --primary-color: #fff;        /* Primary color (white) */
    --secondary-color: #333;      /* Secondary color (dark gray) */
    --main-color: #754ef9;        /* Main color (a shade of purple) */
}

/* Dark mode styles */
.dark-mode {
    --primary-color: #0b061f;        /* Primary color in dark mode (white) */
    --secondary-color: #fff;         /* Secondary color in dark mode (white) */
}

/* Body styles */
body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    overflow-x: hidden;         /* Prevents horizontal scrolling of the page */
}

/* Styles for the .header class */
.header {
    position: fixed;            /* Fixed position to keep the header fixed at the top */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 7%;
    background: transparent;    /* Background color set to transparent */
    display: flex;              /* Using flexbox for layout */
    align-items: center;
    z-index: 100;               /* Setting a z-index to control stacking order */
}

/* Styles for the .logo class */
.logo {
    font-size: 25px;
    color: var(--main-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;            /* Default cursor (non-interactive) */
    margin-right: auto;         /* Aligns to the right within the parent container */
    opacity: 0;                 /* Initially set to 0 opacity */
    animation: slideRight 1s ease forwards; /* Animation for sliding in from the right */
}

/* Styles for links within the .navbar class */
.navbar a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-right: 35px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

/* Styles for the pseudo-class active of links in the .navbar */
.navbar a.active::before {
    content: '';                /* Adds a visual element before the active link */
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fff;
}

/* Styles for the .toggle class */
.toggle {
    display: flex;
    margin-top: 1px;
    cursor: pointer;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 3.5s;
}

/* Styles for the icon within the .toggle class */
.toggle .toggle-icon {
    font-size: 24px;
    color: #fff;
}

/* Styles for the .home class */
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 60px 7% 0;
}

/* Styles for the .home .home-content class */
.home .home-content {
    max-width: 470px;
}

/* Styles for h3 elements within .home-content */
.home-content h3 {
    font-size: 32px;
    line-height: .3;            /* Adjusting line height */
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .7s;
}

/* Styles for h1 elements within .home-content */
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 3px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

/* Styles for p elements within .home-content */
.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

/* Styles for links within the .social-media class */
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 2px 5px #00000033;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    margin: 25px 20px 30px 0;
    transition: .2s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

/* Hover styles for links within .social-media */
.social-media a:hover {
    background-color: var(--main-color);
    color: #fff;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 11px 22px;
    background: var(--main-color);
    border-radius: 6px;
    box-shadow: 0 2px 5px #00000033;
    border: 2px solid transparent;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

/* Hover styles for buttons */
.btn:hover {
    background-color: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

/* Styles for .home .skill-container */
.home .skill-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    overflow: hidden;
}

/* Styles for .skill-container .skill-box */
.skill-container .skill-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards, skillRotate 13s ease-out infinite;
    animation-delay: 2.5s, 3.5s;
}

/* Styles for .skill-box .skill */
.skill-box .skill {
    position: absolute;
    left: 0;
    width: 30%;
    transform-origin: 384px;
    transform: rotate(calc(360deg / 6 * var(--i)));
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--main-color);
    background: var(--primary-color);
    padding: 13px 0;
}

/* Margin adjustments for specific child elements of .skill-box */
.skill-box .skill:nth-child(1) i {
    margin-right: 15px;
}
.skill-box .skill:nth-child(2) i {
    margin-right: 20px;
}
.skill-box .skill:nth-child(4) i {
    margin-right: 20px;
}

/* Styles for icons within .skill */
.skill i {
    font-size: 38px;
}

/* Styles for headings within .skill */
.skill h3 {
    font-size: 28px;
    line-height: 1;
    font-weight: 600;
}

/* Styles for .skill-box .circle */
.skill-box .circle {
    width: 72%;
    height: 72%;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

/* Styles for .skill-container .overlay */
.skill-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.5s;
}

/* Styles for images within .home-img */
.home-img img {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: 59%;
    pointer-events: none;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 2.8s;
}

/* Keyframes animation for sliding in from the right */
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Keyframes animation for sliding in from the left */
@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Keyframes animation for sliding in from the top */
@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Keyframes animation for skill rotation */
@keyframes skillRotate {
    0% {
        transform: rotate(0deg);
    } 
    14.3%,28.6% {
        transform: rotate(-60deg);
    } 
    28.6%,42.9% {
        transform: rotate(-120deg);
    } 
    42.9%,57.2% {
        transform: rotate(-180deg);
    } 
    57.2%,71.5% {
        transform: rotate(-240deg);
    } 
    71.5%,85.8% {
        transform: rotate(-300deg);
    } 
    85.8%,100% {
        transform: rotate(-360deg);
    } 
}











